<div class="container-fluid">
  <nav class="navbar">
    <a class="nav_txt" [routerLink]="'body'">Home</a>
    <a id="home" class="nav_img" [routerLink]="'body'"><img src="../../assets/sprtites_nav copia.png" alt="immagine home"></a>
    <a class="nav_txt"[routerLink]="'body'">Cerca</a>
    <a id="search" class="nav_img" [routerLink]="'body'"><img src="../../assets/sprtites_nav copia.png" alt="immagine home"></a>
    <a class="nav_txt" [routerLink]="'resources'">Crea personaggio</a>
    <a id="login" class="nav_img" [routerLink]="'resources'"><img src="../../assets/sprtites_nav copia.png" alt="immagine home"></a>
    <a class="nav_txt" [routerLink]="'body'">Iscriviti</a>
    <a id="register" class="nav_img" [routerLink]="'body'"><img src="../../assets/sprtites_nav copia.png" alt="immagine home"></a>
  </nav>
</div>