
<div class="container">
    <div class="body"></div>
    <div class="intro">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/Fabula-intro-card2.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cos'è un gioco di ruolo?</h5>
          <p class="card-text">In un gioco di ruolo, un gruppo di persone gioca insieme per creare una storia. Questo avviene nella
          forma di una conversazione durante in cui i partecipanti descrivono le azioni dei personaggi.</p>
          <a href="https://it.wikipedia.org/wiki/Gioco_di_ruolo" class="btn btn-primary" target="_blank">Gioco di ruolo</a>
        </div>
      </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Fabula-intro-card1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Che cos'è Fabula Utlima?</h5>
              <p class="card-text">Fabula Ultima è un Gioco di Ruolo (o GdR) ideato per ricreare quei mondi meravigliosi, personaggi e
                racconti che caratterizzano molti videogiochi di ruolo alla giapponese (chiamati anche JRPG), come
                le famose serie di Final Fantasy.</p>
              <a href="https://www.needgames.it/giochi/fabula-ultima/" class="btn btn-primary" target="_blank">Vai allo store!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/dice-set.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Di cosa hai bisogno per giocare?</h5>
              <p class="card-text">Un gruppo di quattro o cinque persone (te compreso).<br>
                Il necessario per prendere appunti (come carta, matita, un tablet o computer).<br>
                Uno o più set di dadi poliedrici.</p>
              <a href="https://www.amazon.it/s?k=dice+set&__mk_it_IT=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2CIJW8PU27KNR&sprefix=dice+set%2Caps%2C107&ref=nb_sb_noss_1" class="btn btn-primary" target="_blank">Set di dadi</a>
            </div>
          </div>
    </div>
</div>
