*{
    box-sizing: border-box;
}

div{
    width: 100%;
    min-height: 15rem;
    margin:5px auto;
    background-image: url(../../assets/banner-fabula-ultima.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
